*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
.container-fluid{
  background-color: black;
  color: white;
}
h1{
  padding: 20px;
}
img{
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.cards{
  background-color: rgba(94, 94, 94, 0.596);
  backdrop-filter: blur(10px);
  color: wheat;
  padding: 20px;
  border-radius: 12px;
  border: 5px solid black;
}
p{
  text-align: left;
}
.mybtn{
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  border: none;
  border-radius: 12px;
}
.mybtn:hover{
  background-color: rgb(15, 15, 15);
  color: white;
}